body {
}

.background {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}