@*

    About page that contains project information and other 
    general info

    Version 11.15.24

*@ 

<!-- Link to the page -->
@page "/about" 

<!-- Name of the browser tab -->
<PageTitle>About</PageTitle>


<!-- Main body of page content -->
<div class="content px-4 background">
    <div class="fontBox">

    <h1 Style=" padding-left: 20px" >About ClassFindr</h1>
  	<hr style="border: 3px solid #FF4500; width: 100%;">


    <strong style = "Color: MediumBlue;  font-size 200%;" >Version Specification</strong>
    <p Style="padding-left: 20px">Version 1.11.15 Prerelease</p>
  <p Style="padding-left: 20px">November 15th, 2024</p>
  
  <strong style = "Color: MediumBlue;  font-size 200%;" >What is ClassFindr?</strong>
    <p Style="padding-left: 20px"> ClassFindr is a user-friendly web app designed to help Sam Houston State University students and visitors 
    <br> alike easily navigate campus and locate their classes. With interactive campus maps, building information,
    <br> and class schedules, ClassFindr takes the stress out of finding your way around. Whether you’re a new
    <br> student or just making your way around campus, ClassFindr helps you get where you need to be quickly 
    <br>and confidently.</p>
  
  <strong style = "Color: MediumBlue;  font-size 200%;" >Project Contributors</strong>
    <p Style="padding-left: 20px"> ClassFindr is an innovative solution developed by five dedicated students at  Sam Houston State University 
    <br>who recognized the challenges many students face when navigating campus. Believing that finding
    <br> your way around campus should be simple and stress-free, the team has combined their expertise in
    <br> software engineering, user interface design, and campus logistics to bring ClassFindr to life.</p>
  
    <div class="devBox">
  <u style = "Color: MediumBlue;"> Developers:</u>
      <ul>
        <li> <strong>Logan Alpha:</strong> Lead Developer, Team Leader </li>
        <li> <strong>Marsev Siliezar:</strong> Photographer, Diagram Designer </li>
        <li> <strong>Anthony Durand:</strong> Frontend Developer</li>
        <li> <strong>Lexie Bardwell: </strong>Backend Developer</li>
        <li> <strong>Zachary Cornett:</strong> UI Designer</li>
    </ul>
        </div>
    </div>
</div>