body {
}

.background {
    height: 100vh;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/AboutPage.png);
    background-position: left;
    background-size: cover;
}

.fontBox {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

.devBox {
    background-color: rgba(86, 51, 25, 0.4);
    border-radius: 12px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
}