.map-container {
    height: 100%;
    border: 5px inset #64a9d1;
    background-color: aliceblue;
    border-radius: 10px;
}

.background {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}

.interaction-menu {
    background-color: lightgray;
    height: 8vh;
    width: 100%;
    border: 5px outset #b3b3b3;
    background-color: grey;
    border-radius: 10px;
}

.interactable {
    display: table-caption;
    font-size: small;
    color: white;
    padding: 10px;
}

.info-container {
    border: 5px inset #64a9d1;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .image-container > img {
        width: 90%;
    }

@media(min-width: 1600px) {
    .map-container {
        width: 100%;
        height: auto;
    }

    .info-container {
        width: 49%;
        margin-left: 1%;
        height: 89vh;
    }

    .main-body {
        display: flex;
    }

    #markerInfo {
        height: 78vh;
    }

}

@media(max-width: 1599px) {
    .map-container {
        width: 100%;
        height: 43vh;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse
    }

    .info-container {
        width: 100%;
        margin-top: 20px;
        height: 46vh;
    }

    .main-body {
        display: revert;
    }

    #markerInfo {
        height: 32vh;
    }

}
