.map-container {
    height: 100%;
    border: 5px inset #64a9d1;
    background-color: aliceblue;
    border-radius: 10px;
}

.background {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}

.interaction-menu {
    background-color: lightgray;
    height: 8vh;
    max-height: 86px;
    width: 100%;
    border: 5px outset #b3b3b3;
    background-color: grey;
    border-radius: 5px;
    min-height: 70px;
}

.interactable {
    display: table-caption;
    font-size: small;
    color: white;
    padding: 10px;
}

.info-container {
    border: 5px inset #64a9d1;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 5px;
    min-height: 335px;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .image-container > img {
        width: 90%;
    }

/* Nav icon */
.bi-geo-alt-fill {
    display: flex;
    height: 40px;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='white' class='bi bi-geo-alt-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6' /%3E%3C/svg%3E");
}

.nav-button-container {
    align-content: center;
    height: 100%;
    width: 24%;
    text-align: end;
}

.navigate-icon {
    border-radius: 12px;
    
}

.begin-nav {
    background-color: blue;
}

.cancel-nav {
    background-color: red;
}


@media(min-width: 1517px) {
    .map-container {
        width: 100%;
        height: auto;
    }

    .info-container {
        width: 49%;
        margin-left: 1%;
        height: 89vh;
    }

    .main-body {
        display: flex;
    }

    #markerInfo {
        height: 78vh;
    }

}

@media(max-width: 1516px) {
    .map-container {
        width: 100%;
        height: 43vh;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse
    }

    .info-container {
        width: 100%;
        margin-top: 20px;
        height: 46vh;
    }

    .main-body {
        display: revert;
    }

    #markerInfo {
        height: 32vh;
    }

}
