@*

    Schedule page for further revision

    Version 11.7.24

*@

@page "/schedule"

<PageTitle>Schedule Page</PageTitle>

<div class="content px-4 background">
    <div class="fontBox">

        <strong style="Color: MediumBlue; ">Schedule</strong>
        <p Style="padding-left: 20px">
            Here is where the schedule is going to be
        </p>
    </div>
</div>