@*
    The settings page of the project.

    Version 11.4.24
*@

<!-- Link to the page -->
@page "/settings"

<!-- Allows the user to interact with the web page -->
@rendermode InteractiveServer

<!-- Import the API calls and necessary models -->
@using ClassFindrDataAccessLibrary

<!-- Inject the necessary dependencies -->
@inject NavigationManager navManager
@inject IUserData _user

<!-- Web broser tab  -->
<PageTitle>Settings</PageTitle>

<!-- Modal to diaply information to the user -->
<Modal @ref=modal Title="Failure to Delete Account">
    <BodyTemplate>
        Cannot Delete Account - You are not signed in!
    </BodyTemplate>
</Modal>

<!-- Confirm dialog for account deletion -->
<ConfirmDialog @ref=dialog />

@*HTML code*@
<div class="background ">
    <div class="container fontBox">
        <h1>User Settings</h1>
    <hr style="border: 3px solid #FF4500; width: 100%;">


    @*Change password Button Layout*@
    <div>
    <button class="change-password settings-button" @onclick="ChangePassword">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="20"
             height="20"
             fill="currentColor"
             class="bi bi-lock-fill"
             viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
        </svg>
        Change Password
    </button>
        </div>

    @*Delete Account Button Layout*@
    <div>
    <button class="delete-account settings-button" @onclick="DeleteAccount">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="20"
             height="20"
             fill="currentColor"
             class="bi bi-trash3-fill"
             viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg>
        Delete Account
    </button>
        </div>

    @*Logout Button Layout*@
    <div>
    <button class="logout settings-button" @onclick="Logout">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="20"
             height="20"
             fill="currentColor"
             class="bi bi-box-arrow-right"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
        </svg>
        Logout
    </button>
        </div>
    </div>
</div>


@code {

    private Modal modal = default!; // Object reference to the modal
    private ConfirmDialog dialog = default!;    // Object reference to the confirmation drop down dialog

    private void ChangePassword()
    {
        navManager.NavigateTo("/forgot_password");
    }

    private async void DeleteAccount()
    {

        var user = _user.GetUserSignOnInfo();   // Get the signed in user

        if (user != null)
        {
            bool confirmation = await dialog.ShowAsync(
                title: "Confirm Account Deletion",
                message1: "Are you sure that you want to delete your account?  This action will be final.");

            // If the user wishes to delete their ClassFindr account
            if (confirmation)
            {
                bool result = await _user.DeleteUser(user);

                // Navigate to the home page upon success
                if (result == true)
                {
                    _user.SignOut();    // Reset user in client memory
                    navManager.NavigateTo("");
                }
            }
        }
        else
        {
            await modal.ShowAsync();
        }
    }

    // Logs the user out and navigates to the home page
    private void Logout()
    {
        _user.SignOut();
        navManager.NavigateTo("");
    }
}
