body {
}

.background {
    height: 100vh;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/SettingsPage.png);
    background-position: center;
    background-size: cover;
}

.fontBox {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

.h1 {
    text-align: left;
}

.settings-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.change-password {
    background-color: #B8860B;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
}

.delete-account {
    background-color: #B8860B;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
}

.logout {
    background-color: #FF4500;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
}

