.background {
    width: 100%;
    height: 100vh;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: right;
}

.input-container {
    display: inline-grid;
    color: white;
    max-width: 800px;
    width: 75%;
}

/* Force input labels to render at the start of the input field */
em {
    text-align: start;
}

#sign-up {
    background-color: #fc5e03;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

    #sign-up:hover {
        background-color: darkblue;
        transition: background-color 0.2s;  /* Color fade in animation */
    }

/* Padding and positioning for the eyeball in the password field */
/* ============================================================= */
.pw-padding {
    padding-right: 40px;
}

.eyeball {
    margin-bottom: -70px;
    margin-left: -40px;
}

    .eyeball:hover {
        cursor: pointer;
    }
/* ============================================================= */

#forgot-pw {
    text-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
    text-align: end;
    padding-top: 5px;
}

#fpw-text:hover {
    color: darkslategrey;
    cursor: pointer;
    transition: color 0.5s;     /* Color fade in animation */
}

#sign-in-link {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}