@*

    About page that contains project information and other 
    general info

    Version 10.10.24

*@

@page "/about"

<PageTitle>About</PageTitle>

<div class="content px-4">
    <h1>About ClassFindr</h1>

    <p>This will be the page that contains various project-specific information.</p>

    <u>At some point I would like us to have the following:</u>
    <ul>
        <li> Version number & publication date </li>
        <li> Small description about the project </li>
        <li> Quick description about the group and the various members </li>
    </ul>

</div>