@*

    The page that gets redirected to when a user clicks 
    "forgot password" on the sign in page.

    Version 10.25.24

*@

<!-- Link to the page -->
@page "/forgot_password"

<!-- Name of the browser tab -->
<PageTitle>Forgot Password</PageTitle>

<div class="content px-4">

    <h1>Forgot Password Page</h1>

    <p>This will be the page where a user can reset a password.</p>

    <u>This will need the following at some point:</u>
    <ul>
        <li> Text Input field to put in a code that has been sent to the user's email</li>
        <li> Refresh button to resend the code next to that input field </li>
        <li> Another text input to input a new password </li>
        <li> A final text input to confirm the new password </li>
    </ul>

</div>