@*

    The page where a user can create an account to access all 
    features of ClassFindr available to their type.

    Version 10.25.24

*@

<!-- Link to the page -->
@page "/sign_up"

<!-- Name of the browser tab -->
<PageTitle>Forgot Password</PageTitle>

<div class="content px-4">

    <h1>User Sign Up Page</h1>

    <p>This will be the page where a user can create a ClassFindr account.</p>

    <u>This will need the following at some point:</u>
    <ul>
        <li> Text input for new Username <em>Note that we will need to check that the username is unique!</em> </li>
        <li>  </li>
        <li>  </li>
        <li>  </li>
    </ul>

</div>