@*

    The sign in page of the project.

    Version 10.09.24

*@

<!-- Link to the page -->
@page "/sign_in"

<!-- Name of the browsertab -->
<PageTitle>Sign In</PageTitle>

<div class="background">

    <!-- Title of the page -->
    <div class="title-container py-3">
        <img src="/images/titles/classfindr_logo.png" class="title" />
    </div>

    <!-- Username text input field -->
    <div class="w-100 py-4 my-4" style="text-align: center">
        <div class="input-container">

            <em><b> Username </b></em>
            <input type="text" />

        </div>
    </div>

    <!-- Password text/password input field -->
    <div class="w-100 py-4 my-4" style="text-align: center">
        <div class="input-container">

            <em><b> Password </b></em>
            <input type="text" />

        </div>
    </div>

    <div class="py-4 my-4"/>    <!-- Vertical spacing -->

    <!-- Sign in button -->
    <div class="w-100 py-4 my-4" style="text-align: center">
        <div class="input-container">

            <button id="sign-in">
                <i><b> Sign In </b></i>
            </button>

        </div>
    </div>

</div>