.page[b-a9kt0q4u2i] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main[b-a9kt0q4u2i] {
    flex: 1;
}



.top-row[b-a9kt0q4u2i] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-a9kt0q4u2i]  a, .top-row[b-a9kt0q4u2i]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-a9kt0q4u2i]  a:hover, .top-row[b-a9kt0q4u2i]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-a9kt0q4u2i]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


/* How the page will render on mobile */
@media (max-width: 640.98px) {
    .top-row[b-a9kt0q4u2i] {
        justify-content: space-between;
    }

    .top-row[b-a9kt0q4u2i]  a, .top-row[b-a9kt0q4u2i]  .btn-link {
        margin-left: 0;
    }

    .sidebar[b-a9kt0q4u2i] {
        background-color: #2818ba;
        border-bottom: 5px ridge azure;
    }
}

/* How the page will render on desktop */
@media (min-width: 641px) {
    .page[b-a9kt0q4u2i] {
        flex-direction: row;
    }

    .sidebar[b-a9kt0q4u2i] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-a9kt0q4u2i] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-a9kt0q4u2i]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .sidebar[b-a9kt0q4u2i] {
        background-color: #2818ba;
        border-right: 5px ridge azure;
    }

}
