@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* _content/BlazorAPITest/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-89sllm1tyd] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main[b-89sllm1tyd] {
    flex: 1;
}



.top-row[b-89sllm1tyd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-89sllm1tyd]  a, .top-row[b-89sllm1tyd]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-89sllm1tyd]  a:hover, .top-row[b-89sllm1tyd]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-89sllm1tyd]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


/* How the page will render on mobile */
@media (max-width: 640.98px) {
    .top-row[b-89sllm1tyd] {
        justify-content: space-between;
    }

    .top-row[b-89sllm1tyd]  a, .top-row[b-89sllm1tyd]  .btn-link {
        margin-left: 0;
    }

    .sidebar[b-89sllm1tyd] {
        background-color: #2818ba;
        border-bottom: 5px ridge azure;
    }
}

/* How the page will render on desktop */
@media (min-width: 641px) {
    .page[b-89sllm1tyd] {
        flex-direction: row;
    }

    .sidebar[b-89sllm1tyd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-89sllm1tyd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-89sllm1tyd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .sidebar[b-89sllm1tyd] {
        background-color: #2818ba;
        border-right: 5px ridge azure;
    }

}
/* _content/BlazorAPITest/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5n2ml9nn3j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-5n2ml9nn3j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5n2ml9nn3j] {
    font-size: 1.5rem;
    font-family: fantasy;
}

.bi[b-5n2ml9nn3j] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


/* Import icons from Bootstrap */
/* ============================================================================================================== */

/* Person bust icon */
.bi-person-fill[b-5n2ml9nn3j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6' /%3E%3C/svg%3E");
}

/* Settings */
.bi-info-circle-fill[b-5n2ml9nn3j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-info-circle-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2' /%3E%3C/svg%3E");
}

/* Information icon */
.bi-gear-fill[b-5n2ml9nn3j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-info-circle-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z' /%3E%3C/svg%3E");
}

/* ============================================================================================================== */


.nav-item[b-5n2ml9nn3j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5n2ml9nn3j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5n2ml9nn3j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5n2ml9nn3j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-5n2ml9nn3j]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-5n2ml9nn3j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5n2ml9nn3j] {
        display: none;
    }

    .collapse[b-5n2ml9nn3j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-5n2ml9nn3j] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorAPITest/Components/Pages/SignIn.razor.rz.scp.css */
.background[b-hbnhpti6zq] {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}

.input-container[b-hbnhpti6zq] {
    display: inline-grid;
    color: white;
    max-width: 800px;
    width: 75%;
}

/* Force input labels to render at the start of the input field */
em[b-hbnhpti6zq] {
    text-align: start;
}

#sign-in[b-hbnhpti6zq] {
    background-color: #fc5e03;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

    #sign-in:hover[b-hbnhpti6zq] {
        background-color: darkblue;
        transition: background-color 0.2s;  /* Color fade in animation */
    }

/* Padding and positioning for the eyeball in the password field */
/* ============================================================= */
.pw-padding[b-hbnhpti6zq] {
    padding-right: 40px;
}

.eyeball[b-hbnhpti6zq] {
    margin-bottom: -70px;
    margin-left: -40px;
}

    .eyeball:hover[b-hbnhpti6zq] {
        cursor: pointer;
    }
/* ============================================================= */

#forgot-pw[b-hbnhpti6zq] {
    text-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
    text-align: end;
    padding-top: 5px;
}

#fpw-text:hover[b-hbnhpti6zq] {
    color: darkslategrey;
    cursor: pointer;
    transition: color 0.5s;     /* Color fade in animation */
}
