/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-a9kt0q4u2i] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main[b-a9kt0q4u2i] {
    flex: 1;
}



.top-row[b-a9kt0q4u2i] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-a9kt0q4u2i]  a, .top-row[b-a9kt0q4u2i]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-a9kt0q4u2i]  a:hover, .top-row[b-a9kt0q4u2i]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-a9kt0q4u2i]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


/* How the page will render on mobile */
@media (max-width: 640.98px) {
    .top-row[b-a9kt0q4u2i] {
        justify-content: space-between;
    }

    .top-row[b-a9kt0q4u2i]  a, .top-row[b-a9kt0q4u2i]  .btn-link {
        margin-left: 0;
    }

    .sidebar[b-a9kt0q4u2i] {
        background-color: #2818ba;
        border-bottom: 5px ridge azure;
    }
}

/* How the page will render on desktop */
@media (min-width: 641px) {
    .page[b-a9kt0q4u2i] {
        flex-direction: row;
    }

    .sidebar[b-a9kt0q4u2i] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-a9kt0q4u2i] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-a9kt0q4u2i]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .sidebar[b-a9kt0q4u2i] {
        background-color: #2818ba;
        border-right: 5px ridge azure;
    }

}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tywkv7ek19] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-tywkv7ek19] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-tywkv7ek19] {
    font-size: 1.5rem;
    font-family: fantasy;
}

.bi[b-tywkv7ek19] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


/* Import icons from Bootstrap */
/* ============================================================================================================== */

/* Person bust icon */
.bi-person-fill[b-tywkv7ek19] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6' /%3E%3C/svg%3E");
}

/* Information icon */
.bi-info-circle-fill[b-tywkv7ek19] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-info-circle-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2' /%3E%3C/svg%3E");
}

/* ============================================================================================================== */


.nav-item[b-tywkv7ek19] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-tywkv7ek19] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-tywkv7ek19] {
        padding-bottom: 1rem;
    }

    .nav-item[b-tywkv7ek19]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-tywkv7ek19]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-tywkv7ek19]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tywkv7ek19] {
        display: none;
    }

    .collapse[b-tywkv7ek19] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-tywkv7ek19] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/SignIn.razor.rz.scp.css */
.background[b-7kuwv92ege] {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}

.input-container[b-7kuwv92ege] {
    display: inline-grid;
    color: white;
    max-width: 800px;
    width: 75%;
}

/* Force input labels to render at the start of the input field */
em[b-7kuwv92ege] {
    text-align: start;
}

#sign-in[b-7kuwv92ege] {
    background-color: #fc5e03;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}
