.background[b-hbnhpti6zq] {
    width: 100%;
    height: 100%;
    background-color: darkgray; /* Background color if the image fails to load */
    background-image: url(images/samples/sign_in_bkg.png);
    background-position: left;
}

.input-container[b-hbnhpti6zq] {
    display: inline-grid;
    color: white;
    max-width: 800px;
    width: 75%;
}

/* Force input labels to render at the start of the input field */
em[b-hbnhpti6zq] {
    text-align: start;
}

#sign-in[b-hbnhpti6zq] {
    background-color: #fc5e03;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

    #sign-in:hover[b-hbnhpti6zq] {
        background-color: lightslategray;
        transition: background-color 0.5s;  /* Color fade in animation */
    }

/* Padding and positioning for the eyeball in the password field */
/* ============================================================= */
.pw-padding[b-hbnhpti6zq] {
    padding-right: 40px;
}

.eyeball[b-hbnhpti6zq] {
    margin-bottom: -70px;
    margin-left: -40px;
}

    .eyeball:hover[b-hbnhpti6zq] {
        cursor: pointer;
    }
/* ============================================================= */

#forgot-pw[b-hbnhpti6zq] {
    text-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
    text-align: end;
    padding-top: 5px;
}

    #forgot-pw:hover[b-hbnhpti6zq] {
        color: darkslategrey;
        cursor: pointer;
        transition: color 0.5s;     /* Color fade in animation */
    }